@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition-property: color, background-color, border-color, opacity, transform, box-shadow;
  transition-duration: 180ms;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
